/* CSS style sheet */

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    margin: 0 0 30px 0;
}

.header {
    height: auto;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
}

.button {
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
}

#title-one {
    margin: 15px;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 25px 0;
    padding: 75px 0 75px 0;
    background-color: white;
}

#title {
    padding: 40px 0;
    font-size: 24px;
}

#content {
    display: flex;
}

#leftBar, #rightBar {
    display: flex;
    height: auto;
    /* width: 100px; */
    background-color: aquamarine;
    margin: 0 75px;
}

/* Grid Element */
#grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 500px;
    height: 500px;
    outline: 1px solid black;
}

.column {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.gridElement {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* outline: 1px solid black; */
}
/* End Grid Element */

#leftBar {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    padding: 15px;
}

#gridSizeContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* padding: 8px; */
}

.gridButton {
    margin: 8px;
}

.custom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

#rightBar {
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-right: 175px;
}

#shake {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 75%;
    width: 50%;
    font-size: 24px;
}